<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='icon' href='https://img.icons8.com/metro/420/bookmark.png'>
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Bookmark!</title>
  </head>
  <body>
    <ul class='navbar'>
      <li class='navbar'><a class='navbar' href="/bookmarks">View bookmarks</a></li>
      <li class='navbar'><a class='navbar' href="/bookmarks/new">Add bookmark</a></li>
    </ul>
    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
      </div>
      <% end %>
    <div>Your bookmarks:
      <ul>
        <% @bookmarks.each do |bookmark| %>
          <li>
            <a href='<%= bookmark.url %>'><%= bookmark.name %></a>
            <form action='/bookmarks/<%= bookmark.id %>' method='post'>
              <input type='hidden' name='_method' value='DELETE'>
              <input type='submit' id='delete-<%= bookmark.id %>' value='Delete'/>
            </form>
            <form action='/comments/new' id='comment-<%= bookmark.id %>' method='post'>
              <input type='text' name='comment'>
              <input hidden name='bookmark-id' value='<%= bookmark.id %>'>
              <input type='submit' id='comment-submit' value='Add comment'/>
            </form>
            <% bookmark.comments.each do |comment| %>
              <li><%= comment %></li>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
